body {
    background-color: grey;
    color: green;
    font-family: sans-serif;
  }
  
  .header img {
    border-radius: 25px;
    float: left;
    width: 700px;
    background: #555;
    opacity: .75;
  }
  
  #title {
    position: absolute;
    top: 0px;
    left: 10px;
  }
  
  #description {
    position: absolute;
    top: 50px;
    left: 20px;
  }
  
  #survey-form {
    position: absolute;
    top: 100px;
    left: 20px;
    padding: 10px;
    font-weight: bold;
  }
  
  #text {
    margin-left: 30px;
    float: right;
  }

  @media only screen and (max-width: 600px) {
      .header img {
        display: none;
      }
      body {
      background-color: white;
      text-align: center;
      font-size: 18px;
      line-height: normal;
      }

      #description      {
          top: 100px;
          left: 60px;
      }

      input {
          height: 50px;
          text-align: center;
      }

      #title {
          background-color: darkblue;
      }

      textarea {
          padding: 30px;
      }


      #survey-form {
          top: 140px;
      }
    }

   /*End of small media */
  
  
  
  
  